/* resets any formatting done automatically by browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none; 
}

/* media queries */
html {
    font-size: 16px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    html {
        font-size: 18px;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    html {
        font-size: 20px;
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    html {
        font-size: 24px;
    }
  }

.intro {
    max-width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.background-img {
    position: block;
    width: 100%;
    height: auto;
}

.logo {
    width: 100%;
    height: auto;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 40%;
    transform: translate(-50%, -50%);
    animation: fadeIn 1s;
  }



.text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-50%, -50%);
    color:  #333333;

}

h1 {
    font-size: 1.4rem;
    color:  #333333;
    text-align: start;
    animation: fadeIn 2s;

}

.h1-p {
    text-align: start;
    font-size: 1.1em;
    font-weight: 2em;
    color:  #333333;
    width: 75%;
    animation: fadeIn 3s; 
}

h2 {
    text-align: start;
    font-size: 0.9em;
    color:  #333333;
    width: 80%;
    animation: fadeIn 4s;
}

Input {
    animation: fadeIn 5s;
}
.about-button {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    animation: fadeIn 6s;
}
.admin-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: #73a397;
    animation: fadeIn 7s;
}

h3 {
    font-size: 1em;
    color: white;
    
}

.loginbutton{
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: grey;
    width: 100px;
    align-self: center;
    font-size: 0.7em;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .search-results {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 90%;
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
}

.search-results{
    background-color: #cfcfcf;
    text-align: center;
}
.search-results-container {
    padding-bottom: 5px;
}
