.inputfoodbank{
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
}
#inputbox{
    height:50px;
    border-radius: 10px ;
    border-color: #6cd9c0;
    text-align: center;

}
.button-input{
    color: white;
    background-color: #219D80;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    height: 50px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 10px;
    font-family: "roboto";
    font-weight: 500;
    margin-top: 14px;
    margin-bottom: 14px;
}
.button-input:hover{
 cursor: pointer;
}
@media (max-width:800px) {
 .inputfoodbank{
    display: flex;
    flex-direction: column;
    gap: 5px;
   
 }   
}