.MainButton{
    text-align: center;
    color:white;
    background-color: #219D80;
    font-size: 15px;
    border-radius: 15px;
    border-color: #6cd9c0;
    height: 40px;
    width: 90px;
    margin-bottom: 10px;
}
@media (min-width:800px) {
    .MainButton:hover{
        cursor: pointer;
        opacity: 2;
        transition-duration: 1s;
        transform: scale(1.3);
    }
    
}
