.MainButton{
    color:white;
    background-color: #219D80;
    font-size: 20px;
    border-radius: 10px;
    border-color: #6cd9c0;
    height: 55px;
    width: 120px;
}
.MainButton:hover{
    cursor: pointer;
    opacity: 2;
    transition-duration: 1s;
    transform: scale(1.3);
}