.AboutUsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  height: 300px;


  background-color: white;
  padding: 15px;

  font-family: 'roboto';


}

.ImgAboutUs {
  border-radius: 0px;
  height: 300px;

  width: 100%;
  object-fit: cover;
}



.TextContainer {
  align-self: center;
}

.TextContainer>p {
  margin: 2px;
}

.justify {
  text-align: center;

}

.TextContainer>h3 {
  margin: 10px;
}

.Message {
  max-width: 600px;
}



@media (max-width: 800px) {
  .AboutUsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .ImgAboutUs {
    border-radius: 0px;
    height: 150px;
    width: 100%;
    object-fit: cover;
  }

  .AboutUsContainer {


    font-family: 'roboto';
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
    width: 90%;
    background-color: white;
    padding: 15px;
    border-radius: 5px;

    font-family: 'roboto';


  }
}