.AboutUsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}
.ImgAboutUs{
    height: 300px;
    width: 350px;
    border-radius: 10px;
}
.TextContainer{
    align-self: center;
}
.TextContainer>p{
    margin: 2px;
}
.TextContainer>h3{
    margin: 10px;

}
.Message{
    max-width: 600px;
}



@media(max-width: 800px) {
    .AboutUsContainer{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }  
}
  