.contact{
    background-color: #cfcfcf;
    height: 100%;
  }

.page-header{
    margin-top: 0;
  }

.bannerImage {
    max-height: 100px;
    object-fit: cover;
  }

img {
    width: 100%;
  }


@media(min-width: 800px) {
    img {
        max-width: 80%
 }
}
