.ButtonContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  
}
.Home{
    display: flex;
    flex-direction: column;
    gap: 10px;
   padding-top: 15px; 
}