.Carousel {
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Carousel-Container {
  color: white;
  background-color: #252a34;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

.img-slider {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.text-container {
  font-size: medium;
}
.slide-active > h3 {
  margin: 10px;
}
.slide-active > p {
  font-size: 15px;
}
.testimony-container{
  width: 300px;
}

.right-arrow {
  height: 30px;
  width: 50px;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  user-select: none;
  position: absolute;
}
.left-arrow {
  height: 30px;
  width: 50px;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  user-select: none;
  position: absolute;
}
@media (min-width: 800px) {
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  .slide-active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.01);
  }
  .slide-active:hover {
    opacity: 2;
    transition-duration: 2s;
    transform: scale(1.05);
  }
}

@media (max-width: 800px) {
  .Carousel {
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-slider {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    object-fit: cover;
  }

  .testimony-container{
    width: 300px;
  }
}
