.admin-container {
  max-width: 500px;
  margin: 15px auto;
  /* padding: 0 10px 0 10px; */
}

.submit-butty {
  padding-top: 15px;
}

.admin-form {
  /* display: flex;
  flex-direction: column; */
  /* flex-shrink: 0;  */
  width: 400px;
  margin: 0 auto;
}

.needs-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
