.admin-container {
  max-width: 500px;
  margin: 15px auto;
  border-radius: 5px;
  /* padding: 0 10px 0 10px; */
}

.submit-butty {
  padding-top: 15px;
}

.admin-form {
  /* display: flex;
  flex-direction: column; */
  /* flex-shrink: 0;  */
  width: 400px;
  margin: 0 auto;
}

.needs-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#admin-header {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
  font-size: 35px;
  color: white;
  text-decoration: underline overline;
  text-underline-offset: 10px;

}

#admin-instructions {
  font-style: italic;
  padding-top: 20px;
  padding-bottom: 20px;
}

.add-button {
  color: white;
  background-color: #219D80;
  font-size: 14px;
  border-radius: 25px;
  border: none;
  height: 50px;
  margin-bottom: 10px;
  font-family: "roboto";
  font-weight: 500;
  margin-top: 14px;
  margin-bottom: 14px;
  width: fit-content;
  text-align: center;
  float: right;

}

.minus-button {
  color: white;
  background-color: red;
  font-size: 14px;
  border-radius: 25px;
  border: none;
  height: 50px;
  margin-bottom: 10px;
  font-family: "roboto";
  font-weight: 500;
  margin-top: 14px;
  margin-bottom: 14px;
  width: fit-content;
  text-align: center;
  float: right;

}

.needs-item {
  padding-bottom: 15px;

}