img {
  width: 100%;
}

.bannerImage {
  max-height: 100px;
  object-fit: cover;
}

.gethelp {
  background-color: #cfcfcf;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-header {
  margin-top: 0;
}


@media(min-width: 800px) {}