img {
  width: 100%;
}

.bannerImage {
  max-height: 100px;
  object-fit: cover;
}
.gethelp{
  background-color: #cfcfcf;
}
.page-header{
  margin-top: 0;
}

@media(min-width: 800px) {
img {
    max-width: 80%
}
}