.footer{
    background-color: #252A34;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
    
}
.img-footer{
    height: 30px;
    width: 200px;
    display: flex;
}


.footer-container{
   display: flex;
   gap: 10px;
   justify-content: center;
   align-items: center;
}

.ig-logo{
    margin-right: 10px;
    height: 40px;
    width: 40px;
}

@media(max-width: 800px){
    .footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100px;
    }
  .ig-logo{
    height: 30px;
    width: 30px;
  }
}