.Fact-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
        flex-grow: 1;
        flex-basis: 0;
        /* border: 1px solid #ccc;
        box-shadow: 10%; */
}
.Fact-container>img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    align-items: flex-start;
   
}
.Fact-container>h3{
    margin: 2px;
}
.Fact-container>p{
    font-size: small;
    width: 80%;
    height: 150px;
    
}
.Main-container{
    display: flex;
    flex: row;
    gap:10px;
    align-items: center;
    margin: 0px 200px 0px 200px;
}