.Fact-container{
    background-color: #219D80;
    opacity: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
}
.Fact-container>img{
    width: 300px;
    height: 250px;
   
}
.Main-container{
    display: flex;
    flex: row;
    gap:10px;
}