#outerNavDiv {
  background-color: #F2F1F2;
}


.toggleButton {

  position: absolute;
  top: .75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;

}


.toggleButton .bar {

  height: 3px;
  width: 100%;
  background-color: #006D77;
  border-radius: 10px;

}

#navBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* 
    align items flex start using to force image to sit on left
    different to how we expected this to work
  */
  align-items: flex-start;
  /*
  justify-content: center;

  margin: 0px 10px 10px 10px;
*/

}



#navLinks {
  width: 100%;
  display: none;
  align-items: center;
  height: 100%;


}

#navLinks.active {
  display: flex;

}

#navLinks.active a {
  justify-content: center;
  display: flex;


  font-weight: 600;
  text-decoration: none;
  margin-bottom: 5px;
}




#navLinks ul {
  padding: 0;
  width: 100%;
  flex-direction: column;
}

#navLinks li {
  list-style: none;
  text-align: center;
}

#navLinks li a {
  color: #006D77;
  font-family: "roboto", arial;
  font-weight: 600;
  padding-bottom: 10px;

}

#nav-logo {
  display: flex;

  padding-left: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  height: 60px;
}






@media(min-width: 800px) {



  .toggleButton {

    display: none;

  }

  #nav-logo {
    display: flex;
    align-items: center;
    width: 100%;


  }

  #logo-container {
    display: flex;
    align-items: center;


  }

  #navLinks {
    display: flex;
  }

  #navBar {

    flex-direction: row;

    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 20px 0 20px;

  }




  #navLinks li {

    display: block;

  }

  #navLinks li a {
    padding: 1rem;
    display: block;
    text-decoration: none;


  }

  #navLinks ul {

    display: flex;
    flex-direction: row;
    justify-content: right;
  }

  #innerNavDiv {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 10px;
  }


}